service cloud.firestore {
  match /databases/{database}/documents {
    // removed all security rule. The security rule is managed in other way
    allow read, write: if true;
  }
}
